In [1]:
import pandas as pd

In [2]:
test_1 = pd.DataFrame.from_csv('../data/subset_test.csv')
test_2 = pd.DataFrame.from_csv('../data/subset_test_OHE.csv')

In [3]:
columnsToDelete = []

for i in range(52, 101):
    for column in test_1.columns.values:
        if column.endswith(str(i)):
            columnsToDelete.append(column)

In [4]:
for column in columnsToDelete:
    test_1 = test_1.drop(column, 1)
    test_2 = test_2.drop(column, 1)

In [6]:
test_2.head()

,row_id,is_security_73,is_security_102,is_security_18,p_tcount,p_value,trade_vwap,trade_volume,is_buyer,is_seller,...,transtype49_is_T,transtype49_is_Q,time49,bid49,ask49,transtype50_is_T,transtype50_is_Q,time50,bid50,ask50
254689,254690,0,0,1,18917,10969715628,435.1,66,0,1,...,1,0,15:47:18.160,435.1,435.2,0,1,15:47:18.160,435.0,435.2
500810,500811,0,0,1,12917,9792408270,432.0,7661,0,1,...,1,0,08:32:12.389,432.0,432.1,0,1,08:32:12.389,431.9,432.1
196078,196079,1,0,0,14971,12747929651,3152.0,610,1,0,...,1,0,13:50:52.674,3151.5,3152.0,0,1,13:50:52.674,3151.5,3153.5
226436,226437,0,1,0,13344,8492047588,935.4,45,1,0,...,1,0,16:03:38.133,935.2,935.4,0,1,16:03:38.133,935.2,935.5
339574,339575,0,1,0,17510,11402659276,947.8,500,1,0,...,1,0,08:42:51.975,947.1,947.8,0,1,08:42:51.975,947.1,948.0